.well
  p Breaks are to be used when you need to pause cohort, for things like christmas holidays.
  p At this time we only support 1 break per cohort, it must start on a monday, and are by the week.
