// Place all the styles related to the teacher/students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-stats {

  .avatar {
    border-radius: 5px;
    border: 2px solid black;
  }

  ul.list-inline.social-icons {
    padding-top: 10px;
  }

  .rounded-border {
    border: 2px solid #dddddd;
    border-radius: 4px;
  }

  .student-heading {
    @extend .rounded-border;
    padding: 0;
    position: relative;
    img {
      width: 15%;
      &[src=""] {
        padding-top: 15%;
      }
    }
    .student-info-holder {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 18%;
      .student-details-name {
        margin: 0;
      }
    }
    .btn.btn-secondary {
      position: absolute;
      top: 5px;
      right: 20px;
    }
    .nav-tabs {
      padding-top: 10px;
      margin-top: 10px;
    }
    .stats-holder {
      .stats {
        vertical-align: top;
        display: inline-block;
        width: 20%;
        padding-left: 10px;
        p {
          margin-bottom: 5px;
        }
        .progress {
          margin-bottom: 15px;
        }
      }
      .tab-content {
        border: 0;
      }
    }
    .notes {
      width: 100%;
      height: 150px;
      padding: 0;
      margin: 0;
      background-color: orange;
      position: absolute;
      bottom: 0;
      overflow: scroll;
    }
  }

  .btn-wrapper {
    text-align: center;
    padding: 10px 0;
    .student-btn-group {
      display: inline-block;
    }
  }

  button.btn.btn-danger.btn-xs.rollover {
    position: absolute;
    top: 60px;
    right: 20px;
  }

  .titled-panel {
    @extend .rounded-border;
    position: relative;
    min-height: 60px;
    padding: 10px 0 5px 5px;
    &:not(.contact) {
      margin: 20px 0;
    }
    .title {
      position: absolute;
      top: -16px;
      left: 20px;
      background-color: white;
      padding: 0 5px;
    }
    p:not(.title) {
      font-size: 95%;
    }
  }

  .student-results {
    margin-top: 1rem;
  }
}
