<h1>Weekly Digest of Negative Curriculum Feedback</h1>
<p>All curriculum feedback rated &lt= 3 from the last 7 days.</p>

  <% @feedbacks.each do |activity, feedbacks| %>
    <h2><%= activity.day %>, <%= activity.name %></h2>
    
    <% feedbacks.each do |feedback| %>
      <p>
      <%= feedback.rating %>/5:
      <%= feedback.detail %><br>
      </p>
    <% end %>

  <% end %>
