- last_evaluation = @project.last_evaluation(current_user) if student?

- content_for :side_nav do
  = render 'shared/menus/project_side_menu', project: @project

h2 = @project.name
h4 = last_evaluation ? "Status: #{last_evaluation.status}" : ""

.description
  == markdown(@project.description)


