body.admin-cohorts-show, body.admin-cohorts-index, body.admin-students-index {

  table.students {
    tr {
      &.dropped {
        background-color: rgba(150, 0, 0, 0.1);
      }
      &.rolled-in, &.rolled-out {
        background-color: rgba(255, 250, 225, 0.6);
      }

      opacity: 0.8;

      &:hover {
        opacity: 1.0;
      }

      .progress {
        margin-top: 8px;
        margin-bottom: 8px;
        border: 1px solid black;
      }

      a.tech-interview, a.code-review {
        margin-right: 5px;
        .label-primary {
          opacity: 0.4;
        }
      }
    }
  }

}

.curriculum-break {
  p {
    margin: 0px;
  }
  strong {
    margin-right: 5px;
  }
}
