.activity-progress {
  .progress-bar {
    border-right: 1px solid white;

    &:last-child {
      border-right: none;
    }

    &.bg-note {
      background-color: #FFC857;
      &:hover {
        background-color: darken(#FFC857, 10%);
      }
    }

    &.bg-lecture {
      background-color: lighten(#832232, 20%);
      &:hover {
        background-color: darken(#832232, 20%);
      }
    }

    &.bg-core {
      background-color: #31BC81;
      &:hover {
        background-color: darken(#31BC81, 10%);
      }
    }

    &.bg-stretch {
      background-color: #6457A6;
      &:hover {
        background-color: darken(#6457A6, 10%);
      }
    }

    &.bg-purple {
      background-color: lighten($purple, 20%);
      &:hover {
        background-color: darken($purple, 20%);
      }
    }

    &.bg-faded {
      opacity: 0.2;
      &.bg-active {
        opacity: 0.7;
      }
    }


    &.bg-secondary {
      background-color: #aaa !important;
    }
  }
}

.activity-details {

  .actions {
    margin-bottom: 20px;

    &.programming-test-activity {
      display: flex;
      background: #555;
      color: #fff;
      padding: 1em 0;
      align-items: center;
      justify-content: center;
      border-radius: 0.3em;
      text-align: center;
      height: 8em;

      & .exam-token {
        font-size: 1.5em;
      }
    }
  }

  .progress-row {
    padding: 0.75rem;

    .progress {
      height: 30px;
      position: relative;

      .progress-label {
        position: absolute;
        right: 14px;
        top: 25%;
      }
    }
  }

  .nextandprev {
    margin: 0px;
    padding: 0px;
    width: auto;
    display: grid;
    -ms-grid-template-columns: -webkit-calc(50% - 8px) -webkit-calc(50% - 8px);
    -ms-grid-template-columns: -moz-calc(50% - 8px) -moz-calc(50% - 8px);
    -ms-grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    grid-template-columns: -webkit-calc(50% - 8px) -webkit-calc(50% - 8px);
    grid-template-columns: -moz-calc(50% - 8px) -moz-calc(50% - 8px);
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    -ms-grid-template-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column-gap: 24px;
    grid-column-gap: 24px;

    a.nextandprev-button {

      -ms-flex-item-align: stretch;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      margin: 0px;
      padding: 0px;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      justify-self: stretch;
      -webkit-align-self: stretch;
      align-self: stretch;
      color: #242A31;
      background-color: #FFFFFF;
      border-radius: 3px;
      border: 1px solid #E6ECF1;
      -webkit-transition: border ease 200ms;
      -moz-transition: border ease 200ms;
      transition: border ease 200ms;
      box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
      text-decoration: none;
      cursor: pointer;
    }

    a.nextandprev-button:hover {
      color: $brand-secondary;
      border-color: $brand-secondary;

      .nextandprev-button-arrow {
        color: $brand-secondary;
      }
    }

    .nextandprev-button-arrow {

      &:first-child {
        padding-right: 0px;
      }

      display: block;
      margin: 0px;
      color: #9DAAB6;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      font-size: 24px;
      -webkit-transition: color ease 200ms;
      -moz-transition: color ease 200ms;
      transition: color ease 200ms;
      padding: 16px;

      svg {
        vertical-align: middle;
      }
    }

    .nextandprev-button-prev {
      display: block;
      margin: 0px;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 16px;
      text-align: right;
    }

    .nextandprev-button-direction {
      display: block;
      margin: 0px;
      padding: 0px;
      color: #9DAAB6;

      span {
        font-size: 12px;
        line-height: 1.625;
        font-weight: 400;
      }
    }

    .nextandprev-button-activitytitle {
      display: block;
      margin: 0px;
      padding: 0px;
      -webkit-transition: color ease 200ms;
      -moz-transition: color ease 200ms;
      transition: color ease 200ms;

      span {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
      }
    }

    /* Right side */

    .nextandprev-button-next {
      display: block;
      margin: 0px;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 16px;
    }
  }
}

