header.splash {

  small {
    font-size: 60%;
    font-weight: 100;
  }

  &.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

}

.colored {

  background-color: #112932;

  &.reading, &.walkthrough {
    background-color: #1A5E63; //#B3CDD1;//#9FA4C4;
  }

  &.assignment {
    background-color: darken(#31BC81, 10%);
  }

  &.task {
    background-color: #3f4f5f;
  }

  &.lecture_plan, &.breakout {
    background-color: #0A2472;
  }

  &.exercise {
    background-color: #48284A;
  }

  &.challenge, &.problem {
    background-color: #112932;
  }

  &.test_activity {
    background-color: #99621E;
  }

  &.quiz_activity {
    background-color: #008DD5;
  }

  &.video {
    background-color: #7AA095;
  }

  &.pinned_note, &.note, &.day_info {
    background-color: darken(#FFC857, 20%);
  }

  &.stretch {
    background-color: #6457A6;
  }

}
