body.days-show {
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.schedule-heading {
  .stats {
    margin-top: 48px;
    sup {
      top: -1.5em;
    }
    sub {
      left: -7px;
    }
    .happy {
      color: $brand-secondary;
    }
    .ok {
      color: $brand-warning;
    }
    .sad {
      color: $brand-danger;
    }
  }
}

.pinnednote.activity + .pinned-content { // only for pinned activities
  background-color: #f9f9f9;
  padding: 30px 60px 10px 80px;
  margin-bottom: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid $brand-primary;
  border-top: none;

  > .instructions img {
    max-width: 100%;
  }
  > .instructions * {
    // color: $brand-secondary;
    font-size: 1em;

  }
}

a.activity {
  &:hover {
    text-decoration: none;
  }
}

.activity {
  display: block;
  background-color: white;
  border-radius: 6px;
  color: $brand-primary;
  font-size: 24px;
  line-height: 24px;
  padding: 0 60px 0 140px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid $brand-primary;
  transition: all 0.15s;

  &.archived {
    opacity: 0.5;
  }

  &.pinnednote {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: $clouds;
  }

  &:not(.pinnednote) {
    &:hover {
      box-shadow: 0 0 0 1px $brand-primary;
      background-color: $clouds;
      border: 1px solid black;

      .name {
        color: $brand-secondary;
      }
      .icon {
        opacity: 0.9;
      }
      .homework-indicator {
        opacity: 1.0;
      }
    }
  }

  .icon {
    opacity: 0.75;
    font-size: 36px;
    height: 100px;
    line-height: 100px;
    margin-top: -50px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
  }
  .icon-completion  {
    right: 0;
    .fa-check-square-o {
      color: $brand-secondary;
    }
    .completed-activities {
      color: $brand-secondary;
      font-size: .6em;
    }
  }
  .icon-calendar-description-button {
    right: 0;
    .fa-chevron-down {
      color: $brand-secondary;
    }
    .fa-chevron-down:hover {
      color: $gray-light;
      cursor: pointer;
    }
  }
  .icon-type {
    left: 0;
  }
  .name {
    overflow: hidden;
    padding: 28px 0;
    .stretch {
      color: $gray-light;
    }
  }
  .homework-indicator {
    position: absolute;
    top: -15px;
    left: -17px;
    font-size: 1.0em;
    border: 1px solid $brand-primary;
    border-radius: 50%;
    padding: 5px;
    background-color: $clouds;
    opacity: 0.8;
  }
  .calendar-event-location {
    color: $brand-secondary;
    font-size: 16px;
  }
  .calendar-event-name {
    color: $brand-secondary;
    font-size: 24px;
    padding: 28px 0;
  }
  .calendar-event-name-with-location {
    color: $brand-secondary;
    font-size: 24px;
    padding: 20px 0;
  }
  .time {
    color: $brand-primary;
    font-size: 14px;
    left: 70px;
    line-height: 20px;
    margin-top: -50px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
  }
  .time-duration {
    font-size: 0.6em;
  }
}

.description-container {
  font-size: 16px;
  padding: 2px 0;
  display: none;
  margin-top: -20px;
  background-color: #2c3e50;
  color: #798795;
  border-radius: 0px 0px 6px 6px;
}
.description-details {
  color: $brand-secondary;

  margin-left: 140px;
  padding: 10px 55px 10px 0px;
}

.description-open {
  border-bottom: 1px solid black;
  border-radius: 6px 6px 0px 0px;
}

.calendar {
  margin-bottom: 20px;

  .activity:hover {
    box-shadow: none;
  }
}

