// Place all the styles related to the evaluation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.project-evals-edit {
  label.radio span.icons {
    top: -11px;
    left: 11px;
  }
  .well.actions.affix {
    top: 65px;
    z-index: 100;
    right: 10px;
  }
  .actions-container {
    min-height: 81px;
  }
}

body.project-evals-edit, body.project-evals-show {
  .dl-horizontal {
    dd {
      margin-bottom: 0px;
    }
  }
}

.evaluation-avatar {
  width: 100%;
}

.table-borderless {
  tbody {
    border: none;

    tr {
      border: none;

      td {
        border: none;
      }
    }
  }
}

.eval-row {
  cursor: pointer;
  cursor: hand;
}

.btn-evaluation {
  margin-right: 5px;
}

// Need feedback buttons for project evaluation rubric

.btn-togglable {
  text-align: left;
  white-space: normal;
  margin-bottom: 14px;
  background-color: white;
  color: black;
  width: 100%;
  &.btn-success {
    border: 2px solid #1e854a;
  }
  &.btn-info {
    border: 2px solid #2c81ba;
  }
  &.btn-warning {
    border: 2px solid #f1c40f;
  }
  &.btn-danger {
    border: 2px solid #ec7063;
  }
}


.new-evaluation-form {
  margin-bottom: 20px;
}

body.project-evals-show {
  .well.actions.affix {
    top: 65px;
    z-index: 100;
    right: 10px;
  }
  .actions-container {
    min-height: 81px;
  }
  .affix-top {
    width: 100%;
  }
}
