/*
 This file is needed to support the transition away from Flat UI.
 It has some common colors that were used an pretty much all of the styling
 for the calendar side nav.
*/

$brand-secondary: #1abc9c;
$brand-primary: green;
$brand-danger: green;
$brand-success: green;
$brand-warning: green;
$gray-light: green;
$gray-lighter: green;
$peter-river: #3498db;
$clouds: #ecf0f1;
$green-sea: #16a085;
