@import "bootstrap";
@import "font-awesome";
@import "jquery-ui/datepicker";
@import "chosen";
@import "prism";
@import "bootstrap-sortable";



$btn-success-hover-bg: green;
$btn-danger-hover-bg: green;
$brand-secondary: green;
$btn-primary-hover-bg: green;
$btn-primary-active-bg: green;
$peter-river: green;
$clouds: green;
$green-sea: green;
