html,
body {
  min-height: 100%;
  font-size: calc(12px + .5vw);
}
.container-fluid-md {
  @extend .container-fluid;
  @include media-breakpoint-up(md){
    margin-left: 0;
    margin-right: calc(8em + 5vw);
    width: auto;
  }
}
.non-tablet-label {
  @include media-breakpoint-between(md, lg) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
header > nav {
  i {
    margin: 0px 4px 0px 0px;
  }
  img {
    margin: 0 4px;
    height: 1em;
    width: 1em;
    &.avatar {
      height: 22px;
      width:  22px;
      border-radius: 4px;
    }
  }

  .navbar-nav {
    .dropdown-toggle .caret {
      margin-left: 6px;
      border-width: 7px 5px 0;
    }

    > li > a {
      @include media-breakpoint-up(xs) {
        // padding: 15px 5px;
        // font-size: 0.74em;

        &.logo {
          font-size: 1.4em;
          margin-left: 10px;
        }
      }

    }
  }

  #assistance-request-module {
    margin-left: 10px;
    margin-right: -10px;
  }
}

main {
  $side-nav-width: 240px;
  &.container {
    margin-left: 0px;
  }

  .content {
    .jumbotron {
      padding-top: 30px;
      padding-bottom: 30px;
      h1 {
        font-size: 68px;
      }
    }
  }
}

.teacher-holder {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  z-index: 1;

  img {
    width: 75px;
    border-width: 3px;
    border-style: solid;
    border-color: $brand-success;
    border-radius: 10px;
    margin-right: 2px;

    &.busy {
      border-color: $brand-warning;
    }
  }
}

@include media-breakpoint-up(lg) {
  .teacher-holder {
    border-bottom: none;
    padding-bottom: 0px;
    position: fixed;
    right: 10px;
    top: 75px;

    h4 {
     display: none;
    }

    img {
      float: left;
      clear: left;
      margin-bottom: 2px;
    }
  }
}

span.anchor {
  display: block;
  padding-bottom: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}

.btn-collection .btn {
  margin-right: 6px;
}

.navbar-text {
  margin-left: 0;
  margin-right: 0;
}
