html,
body {
  min-height: 100%;
}
body {
  padding-top: 70px;
}
.non-tablet-label {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
header > nav {
  i {
    margin: 0px 4px 0px 0px;
  }
  img {
    margin: 0 4px;
    height: 1em;
    width: 1em;
    &.avatar {
      height: 22px;
      width:  22px;
      border-radius: 4px;
    }
  }

  .navbar-nav {
    .dropdown-toggle .caret {
      margin-left: 6px;
      border-width: 7px 5px 0;
    }

    > li > a {
      @media (min-width: $screen-xs-max) {
        padding: 15px 5px;
        font-size: 0.74em;

        &.logo {
          font-size: 1.4em;
          margin-left: 10px;
        }
      }

    }
  }

  .navbar-btn {
    &.btn-warning {
      background-color: $brand-warning;
      &:hover,
      &:focus {
        background-color: #dab10d;
      }
    }

    &.btn-success {
      background-color: $brand-success;
      &:hover,
      &:focus {
        background-color: $btn-success-hover-bg;
        color: white;
      }
    }

    &.btn-danger {
      background-color: $brand-danger;
      &:hover,
      &:focus {
        background-color: $btn-danger-hover-bg;
        color: white;
      }
    }
  }
  #assistance-request-module {
    margin-left: 10px;
    margin-right: -10px;
  }
}

main {
  $side-nav-width: 240px;
  &.container {
    margin-left: 0px;
    // width: 1400px;
  }

  nav.side-nav {
    // @media (min-width: $screen-sm-min) {
    //   float: left;
    //   width: $side-nav-width;
    // }
    i.fa {
      width: 18px;
      text-align: center;
    }
    .panel {
      &.selected {
        .panel-heading {
          a, i {
            color: $brand-primary;
          }
        }
      }
      .list-group-item.selected {
        a, i {
          color: $brand-primary;
        }
      }
    }

  }
  .content {
    // @media (min-width: $screen-sm-min) {
    //   float: left;
    //   width: $container-sm - $side-nav-width - $grid-gutter-width;
    // }
    // @media (min-width: $screen-md-min) {
    //   width: $container-md - $side-nav-width - $grid-gutter-width;
    // }
    // @media (min-width: $screen-lg-min) {
    //   width: $container-lg - $side-nav-width - $grid-gutter-width;
    // }
    .jumbotron {
      padding-top: 30px;
      padding-bottom: 30px;
      h1 {
        font-size: 68px;
      }
    }
  }
}

.teacher-holder {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  z-index: 1;

  img {
    width: 75px;
    border-width: 3px;
    border-style: solid;
    border-color: $brand-success;
    border-radius: 10px;
    margin-right: 2px;

    &.busy {
      border-color: $brand-warning;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .teacher-holder {
    border-bottom: none;
    padding-bottom: 0px;
    position: fixed;
    right: 10px;
    top: 75px;

    h4 {
     display: none;
    }

    img {
      float: left;
      clear: left;
      margin-bottom: 2px;
    }
  }
}

span.anchor {
  display: block;
  padding-bottom: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}

.btn-collection .btn {
  margin-right: 6px;
}

.navbar-text {
  margin-left: 0;
  margin-right: 0;
}
