html,
body {
  min-height: 100%;
  font-size: calc(12px + .5vw);
}

.non-tablet-label {
  @include media-breakpoint-between(md, lg) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.only-on-small {
  @include media-breakpoint-between(md, xl) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

header > nav {
  i {
    margin: 0px 4px 0px 0px;
  }
  img {
    margin: 0 4px;
    height: 1em;
    width: 1em;
    &.avatar {
      height: 22px;
      width:  22px;
      border-radius: 4px;
    }
  }

  .navbar-nav {
    .dropdown-toggle .caret {
      margin-left: 6px;
      border-width: 7px 5px 0;
    }

    span.teacher-text {
      display: inline;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    > li > a {
      @include media-breakpoint-up(xs) {
        // padding: 15px 5px;
        // font-size: 0.74em;

        &.logo {
          font-size: 1.4em;
          margin-left: 10px;
        }
      }

    }
  }
}

main {
  $side-nav-width: 240px;
  &.container {
    margin-left: 0px;
  }

  .content {
    &.main-content .main-content-view {
      max-width: 1000px;
    }
    .jumbotron {
      padding-top: 30px;
      padding-bottom: 30px;
      h1 {
        font-size: 48px;
      }
    }
  }
}

.teacher-holder {
  max-height: 85vh;
  overflow-y: scroll;
  z-index: 1;
  p {
    padding: 0.25rem 1.5rem;
    margin: 0;
  }
  div.teacher-images {
    margin-left: 1.25rem;
  }
  img {
    width: 75px;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-color: $brand-success;
    border-radius: 10px;
    margin: 0.25rem;

    &.busy {
      border-color: $brand-warning;
    }
  }
}

@include media-breakpoint-up(md) {
  .dropdown-teacher {
    background-color: transparent;
    border-style: none;
  }

  .teacher-holder {
    position: fixed;
    right: 10px;
    top: 75px;

    p {
     display: none;
    }

    div.dropdown-divider{
      display:none;
    }

    img {
      float: left;
      clear: left;
    }
  }
}

span.anchor {
  display: block;
  padding-bottom: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}

.btn-collection .btn {
  margin-right: 6px;
}

.btn-hover-danger:hover, .btn-hover-danger:focus, .btn-hover-danger:active {
  background-color: $brand-danger;
  color: white;
  border-color: $brand-danger;
}


.navbar-text {
  margin-left: 0;
  margin-right: 0;
}

.can-load {
  transition: opacity 0.3s ease-in-out;

  &.loading {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
  }
}

ul.list-group.flat-list-group {
  li.list-group-item:first-child {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
  li.list-group-item:last-child {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.pacifico {
  font-family: 'Pacifico', cursive;
}
