.activity-details, .project-detail {
  .instructions {
    h1, h2, h3, h4, h5, h6 {
      padding: 1em 0 .6em;
    }
    aside {
      background: #eee;
      font-size: .85em;
      margin: 2em 0;
      padding: .5em 1.5em;
    }

    kbd {
      border: 1px solid gray;
      color: darkgray;
      border-radius: .25em;
      padding: 0 .3em;
      background-color: rgba(0,0,0,0);
      display: inline-block;
      font-size: 0.7em;
    }

    aside {
      kbd {
        color: black;
      }
    }

    aside > h3:first-child {
      margin-top: 1em;
      font-size: 1.5em;
    }

    @media (min-width: 46em) {
      aside {
        float: right;
        margin: 0 0 1em 2em;
        width: calc(12em + 10vw);
      }
    }

    img {
      max-width: 100%;
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 2px 4px 10px #AAA;
    }

    pre {
      // http://stackoverflow.com/questions/10374171/how-to-make-twitter-bootstraps-pre-blocks-scroll-horizontally
      overflow-y: auto;
      word-wrap: normal;
      margin: 1.5em 0;
      code {
        overflow-wrap: normal;
        white-space: pre;
        word-wrap: normal;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        font-size: .8em;
      }
    }

    .allow-select {
     -moz-user-select: text;
     -webkit-user-select: text;
     -ms-user-select: text;
    }

    blockquote {
      border-left: 3px solid #AAA;
      padding: 0 0 0 16px;
      margin: 0 0 30px;
      font-size: 1.1em;
    }

  }
}