.queue-by-location {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .queue-header {
    position: sticky;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: -1rem;
    top: 2.5rem;
    background-color: white;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation {
      display: flex;
      align-items: center;
      i {
        cursor: pointer;
        margin: 0.5rem 0rem 0 0.5rem;
        font-size: 1.4rem;
        color: darkblue;
      }
    }
    .queue-title {
      font-family: 'Pacifico', cursive;
      margin: 0;
    }
    .actions {
      display: flex;
      align-items: center;
    }
  }
  .queue-selector {
    .card-header {
      align-items: center;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }
    .options {
      display: flex;
      align-items: center;
      max-width: 70%;
      .option {
        width: 35px;
        height: 35px;
        border-width: 2px;
        border-style: solid;
        border-color: $brand-success;
        border-radius: 10px;
        margin: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          width: 42px;
          height: 42px;
          border-width: 3px;
        }
        &.selected {
          width: 45px;
          height: 45px;
          border-width: 3px;
        }
        &.all {
          border: 0px;
          font-size: 1.3rem;
          color: white;
          flex-shrink: 0;
        }
        &.busy {
          border-color: $brand-warning;
        }
      }
      .mentors {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  .queue-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .queue-column {
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 350px;
    flex: 1 1 auto;
    &.left {
      margin-right: 1rem;
    }
    .card-header {
      background-color: #f7f7f7;
      position: sticky;
      z-index: 10;
      top: 7.9rem;
      display:flex;
      justify-content: space-between;
    }
    .card-header-border {
      height: 0.25rem;
      border: 1px solid #dfdfdf;
      border-bottom: 0px;
      border-radius: 0.25rem 0.25rem 0 0;
      width: calc(100% + 2px);
      margin-left: -1px;
      margin-top: -0.25rem;
      position: sticky;
      z-index: 11;
      top: 7.9rem;
    }
    .card-header-back {
      height: 0.25rem;
      width: calc(100% + 2px);
      margin-left: -1px;
      position: sticky;
      top: 7.8rem;
      border: 2px solid white;
      border-bottom: 0;
      z-index: 11;
    }
    .card {
      background-color: #f7f7f7;
      min-height: 50px;
      border-top: 0px;
    }
  }
  .queue-top {
    flex: 1 1 auto;
  }
  .queue-bottom {
    flex: 1 3 auto;
    min-height: 180px;
  }
  .list-group {
    max-height: 100%;
    overflow-y: scroll !important;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #007BFF;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #007BFF;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
  }
}
.fa-spinner.queue-loader {
  font-size: 1.4rem;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 800px) {
  .queue-by-location {
    .queue-row {
      flex-direction: column;
    }
    .queue-column {
      min-width: 0;
      .card {
        min-height: 45px;
      }
      &.right {
        min-width: 0;
      }
      &.left {
        margin-right: 0rem;
      }
    }
  }
}

.queue-time-filter {
  i {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #dfdfdf;
    &.selected {
      color: #007bff;
    }
  }
}

.national-queue-stats {
  display: flex;
  flex-direction: column;
  background-color: white;
  h5 {
    margin: 0;
  }
  .group {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 0px;
    min-height: 80px;
    justify-content: space-between;
    .info {
      display: flex;
      justify-content: center;
      width: 100%;
      p {
        margin: 0;
      }
      .user-queue-activity {
        display: flex;
        justify-content: center;
        width: 100%;
        .hour-block {
          display: flex;
          flex-direction: column;
          .half-hours {
            width: 100%;
            height: 50px;
            border: 1px solid #f7f7f7;
          }
        }
      }
      .tasks {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: -1rem;
        flex-wrap: wrap;
        .stat {
          display: flex;
          margin: 1rem 0.5rem 0 0.5rem;
        }
        .quantity {
          display: flex;
          align-items: center;
          flex-direction: column;
          h2 {
            margin: 0;
            font-size: 2rem;
            line-height: 1.5rem;
          }
        }
        i {
          font-size: 2rem;
        }
      }
      .scores {
        display: flex;
      }
    }
  }
  .alert {
    height: auto;
    margin-bottom: 1rem;
    animation-name: hide-alert;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
    max-height: 200px;
  }
  @keyframes hide-alert {
    from {  
      opacity: 1;
    }
    to {  
      height: 0px;
      margin: 0px;
      padding: 0px;
      opacity: 0;
    }
  }
  .queue-weights {
    display: flex;
    flex-direction: column;
    margin-bottom: -1rem;
    .option {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      label {
        line-height: 1rem;
        margin: 0;
      }
      input {
        max-width: 5rem;
      }
      .description {
        display: flex;
        flex-direction: column;
      }
    }
  }
}