.teacher-duty {
  margin-left: 10px;
  margin-right: -10px;
}

  .navbar-static-bottom {
    background-color: white;
  }

.new-issue {
  margin-left: 10px;
}

li.divider-title {
  color: $brand-secondary;
  padding: 6px 9px;
}

h1.day-heading.prep-heading {
  margin-bottom: 20px;
}
