.navbar-static-bottom {
  background-color: white;
}

.divider-title {
  color: $brand-secondary;
  padding: 6px 9px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.navbar-actionbuttons {
  flex-direction: row;

  > li {
    margin-left: 10px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    margin-bottom: 10px;

    > li:first-child {
      margin-left: 0px;
    }
  }
}
