#mocha {

  margin-top: 25px;

  .progress, .duration {
    display: none;
  }

  ul {
    list-style: none;
  }

  #mocha-report {

    h1 {
      font-size: 20px;
    }

    ul {

      h2 {
        font-size: 15px;
      }

      a {
        display: none;
      }

      .test.pass {
        color: $brand-success;
      }

      .test.fail {
        h2 {
          color: $brand-danger;
        }
      }

      .error {
        font-size: 9px;
        color: $brand-secondary;
        height: 31px;
        overflow: hidden;
      }
    }
  }
}

.prep-menu {
  .list-group-item {
    padding-left: 18px;
    padding-right: 18px;
    border-left: none;
    border-right: none;
    font-size: 14px;
    position: relative;

    .fa {
      color: $link-color;
    }

    > .fa {
      position: absolute;
      left: 0px;
      top: 15px;

      // Position the "completed" check to the right so it aligns for every one.
      &.fa-check {
        left: initial;
        right: 0px;
      }
    }
  }

  .panel-heading {
    padding-left: 10px;
    padding-right: 10px;

    a {
      font-size: 15px;
    }
  }

}