#mocha {

  margin-top: 25px;

  .progress, .duration {
    display: none;
  }

  ul {
    list-style: none;
  }

  #mocha-report {

    h1 {
      font-size: 30px;
    }

    ul {

      h2 {
        font-size: 15px;
      }

      a {
        display: none;
      }

      .pass {
        color: $link-color;
      }

      .error {
        font-size: 9px;
        color: red;
        height: 31px;
        overflow: hidden;
      }
    }
  }
}

.prep-menu {
  .list-group-item {
    padding-left: 0px;
    padding-right: 0px;
    border-left: none;
    border-right: none;
    font-size: 14px;
  }

  .fa {
    // margin-left: 10px;
    color: $link-color;
  }

  .panel-heading {
    padding-left: 10px;
    padding-right: 10px;

    a {
      font-size: 15px;
    }
  }

}