.avatar-format img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
.invalid-image {
  border: 1px solid red;
}
.invalid-image-selection, .valid-image-selection {
  display: none;
}

.avatar-button-group {
  padding-left: 22px;
}

.profile-edit-fields label {
  text-align: right;
  @include media-breakpoint-down(md) { 
    text-align: left;
  }
}