.question-option {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 2em;
}

.submission-answer {
  margin-top: 3rem;
}

.new_quiz_submission {
  div input[type="radio"]:checked+label {
    background-color: #007bff;
    border-radius: 0.25rem;
    color: #000;
  }
  .list-group input[type="radio"] {
    display: none;
  }
  label .list-group-item {
    background-color: rgba(127, 127, 127, .1);
  }
  .list-group-item:hover {
    background-color: rgba(127, 127, 127, .3);
  }
  .list-group-item {
    cursor: pointer;
  }
}

.submission-question {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.submission-choices {
  float: right;
  border-radius: 20px;
  padding: .1em .5em;
  background-color: rgba(0, 0, 0, 0.2);
}

.attempts {
  min-width: 300px;
  max-width: 500px;
  list-style: none;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  padding: 0;

  li {
    display:inline-block;
    border: 1px rgb(52, 73, 94) solid;
    padding: 5px 5px;
    border-style: none;

    .attempt {
      color: white;
      &:hover {
        color: #2f4154;
      }
    }
  }
}

.correct {
  background-color: rgb(223, 240, 216);
}

.incorrect {
  background-color: rgb(242, 222, 222);
}

.unanswered {
  border: 1px red solid;
}

.list-group-item.disabled,
.list-group-item-danger,
.list-group-item-info,
.list-group-item-success,
.list-group-item-warning {
  code {
    background-color: rgba(127, 127, 127, .2);
  }
  .explanation {
    border-color: inherit;
  }
}

.quiz-submission-link{
  margin-bottom: 10px;
}
