.reconnect-holder {
  position: fixed;
  top: 50px;
  right: 0px;

  background-color: lightgrey;
  padding: 20px;

  width: 275px;
  z-index: 100;
  display: none;

  .btn {
    margin-right: 5px;
  }
}
