h1.day-heading {
  margin-bottom: 0;
}
h3.date-heading {
  margin-top: 0;
}
.nav-calendar {

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


  /* line 15, /Users/jamesmatsuba/lighthouse/compass/app/assets/stylesheets/side_nav.scss */
  .nav-calendar .btn-yesterday {
    color: white;
    background-color: #34495e;
  }
  /* line 608, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-yesterday:hover, .nav-calendar .btn-yesterday.hover, .nav-calendar .btn-yesterday:focus, .nav-calendar .btn-yesterday:active, .nav-calendar .btn-yesterday.active {
    color: white;
    background-color: #5d6d7e;
    border-color: #5d6d7e;
  }
  /* line 617, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .open .nav-calendar .btn-yesterday.dropdown-toggle {
    color: white;
    background-color: #5d6d7e;
    border-color: #5d6d7e;
  }
  /* line 622, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-yesterday:active, .nav-calendar .btn-yesterday.active {
    background: #2c3e50;
    border-color: #2c3e50;
  }
  /* line 627, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .open .nav-calendar .btn-yesterday.dropdown-toggle {
    background: #2c3e50;
    border-color: #2c3e50;
  }
  /* line 634, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-yesterday.disabled, .nav-calendar .btn-yesterday.disabled:hover, .nav-calendar .btn-yesterday.disabled.hover, .nav-calendar .btn-yesterday.disabled:focus, .nav-calendar .btn-yesterday.disabled:active, .nav-calendar .btn-yesterday.disabled.active, .nav-calendar .btn-yesterday[disabled], .nav-calendar .btn-yesterday[disabled]:hover, .nav-calendar .btn-yesterday[disabled].hover, .nav-calendar .btn-yesterday[disabled]:focus, .nav-calendar .btn-yesterday[disabled]:active, .nav-calendar .btn-yesterday[disabled].active, fieldset[disabled] .nav-calendar .btn-yesterday, fieldset[disabled] .nav-calendar .btn-yesterday:hover, fieldset[disabled] .nav-calendar .btn-yesterday.hover, fieldset[disabled] .nav-calendar .btn-yesterday:focus, fieldset[disabled] .nav-calendar .btn-yesterday:active, fieldset[disabled] .nav-calendar .btn-yesterday.active {
    background-color: #34495e;
    border-color: #34495e;
  }
  /* line 645, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-yesterday .badge {
    color: #34495e;
    background-color: white;
  }


  /* line 18, /Users/jamesmatsuba/lighthouse/compass/app/assets/stylesheets/side_nav.scss */
  .nav-calendar .btn-today {
    color: white;
    background-color: #f1c40f;
  }
  /* line 608, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-today:hover, .nav-calendar .btn-today.hover, .nav-calendar .btn-today:focus, .nav-calendar .btn-today:active, .nav-calendar .btn-today.active {
    color: white;
    background-color: overlay(#f1c40f, #9f9f9f);
    border-color: overlay(#f1c40f, #9f9f9f);
  }
  /* line 617, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .open .nav-calendar .btn-today.dropdown-toggle {
    color: white;
    background-color: overlay(#f1c40f, #9f9f9f);
    border-color: overlay(#f1c40f, #9f9f9f);
  }
  /* line 622, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-today:active, .nav-calendar .btn-today.active {
    background: #cda70d;
    border-color: #cda70d;
  }
  /* line 627, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .open .nav-calendar .btn-today.dropdown-toggle {
    background: #cda70d;
    border-color: #cda70d;
  }
  /* line 634, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-today.disabled, .nav-calendar .btn-today.disabled:hover, .nav-calendar .btn-today.disabled.hover, .nav-calendar .btn-today.disabled:focus, .nav-calendar .btn-today.disabled:active, .nav-calendar .btn-today.disabled.active, .nav-calendar .btn-today[disabled], .nav-calendar .btn-today[disabled]:hover, .nav-calendar .btn-today[disabled].hover, .nav-calendar .btn-today[disabled]:focus, .nav-calendar .btn-today[disabled]:active, .nav-calendar .btn-today[disabled].active, fieldset[disabled] .nav-calendar .btn-today, fieldset[disabled] .nav-calendar .btn-today:hover, fieldset[disabled] .nav-calendar .btn-today.hover, fieldset[disabled] .nav-calendar .btn-today:focus, fieldset[disabled] .nav-calendar .btn-today:active, fieldset[disabled] .nav-calendar .btn-today.active {
    background-color: #f1c40f;
    border-color: #f1c40f;
  }
  /* line 645, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
  .nav-calendar .btn-today .badge {
    color: #f1c40f;
    background-color: white;
  }


  .btn-incomplete-activites {
    width: 174px;
    @media (min-width: $screen-md-min) {
      margin-top: 4px;
    }
  }


/* line 21, /Users/jamesmatsuba/lighthouse/compass/app/assets/stylesheets/side_nav.scss */
.nav-calendar .btn-incomplete-activites {
  color: white;
  background-color: #3498db;
  width: 174px;
}
/* line 608, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.nav-calendar .btn-incomplete-activites:hover, .nav-calendar .btn-incomplete-activites.hover, .nav-calendar .btn-incomplete-activites:focus, .nav-calendar .btn-incomplete-activites:active, .nav-calendar .btn-incomplete-activites.active {
  color: white;
  background-color: #5dade2;
  border-color: #5dade2;
}
/* line 617, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.open .nav-calendar .btn-incomplete-activites.dropdown-toggle {
  color: white;
  background-color: #5dade2;
  border-color: #5dade2;
}
/* line 622, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.nav-calendar .btn-incomplete-activites:active, .nav-calendar .btn-incomplete-activites.active {
  background: #2c81ba;
  border-color: #2c81ba;
}
/* line 627, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.open .nav-calendar .btn-incomplete-activites.dropdown-toggle {
  background: #2c81ba;
  border-color: #2c81ba;
}
/* line 634, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.nav-calendar .btn-incomplete-activites.disabled, .nav-calendar .btn-incomplete-activites.disabled:hover, .nav-calendar .btn-incomplete-activites.disabled.hover, .nav-calendar .btn-incomplete-activites.disabled:focus, .nav-calendar .btn-incomplete-activites.disabled:active, .nav-calendar .btn-incomplete-activites.disabled.active, .nav-calendar .btn-incomplete-activites[disabled], .nav-calendar .btn-incomplete-activites[disabled]:hover, .nav-calendar .btn-incomplete-activites[disabled].hover, .nav-calendar .btn-incomplete-activites[disabled]:focus, .nav-calendar .btn-incomplete-activites[disabled]:active, .nav-calendar .btn-incomplete-activites[disabled].active, fieldset[disabled] .nav-calendar .btn-incomplete-activites, fieldset[disabled] .nav-calendar .btn-incomplete-activites:hover, fieldset[disabled] .nav-calendar .btn-incomplete-activites.hover, fieldset[disabled] .nav-calendar .btn-incomplete-activites:focus, fieldset[disabled] .nav-calendar .btn-incomplete-activites:active, fieldset[disabled] .nav-calendar .btn-incomplete-activites.active {
  background-color: #3498db;
  border-color: #3498db;
}
/* line 645, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/_mixins.scss */
.nav-calendar .btn-incomplete-activites .badge {
  color: #3498db;
  background-color: white;
}
@media (min-width: 992px) {
  /* line 21, /Users/jamesmatsuba/lighthouse/compass/app/assets/stylesheets/side_nav.scss */
  .nav-calendar .btn-incomplete-activites {
    margin-top: 4px;
  }
}

nav.side-nav {
  .day-nav-links {
    margin-top: 12px;
  }
}


/* line 10, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > li, .nav-week > li {
  display: inline;
}
/* line 12, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > li > a, .nav-week > li > a,
.pagination > li > span,
.nav-week > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.72222;
  text-decoration: none;
  color: #d6eaf8;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
/* line 25, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > li:first-child > a, .nav-week > li:first-child > a,
.pagination > li:first-child > span,
.nav-week > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 32, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > li:last-child > a, .nav-week > li:last-child > a,
.pagination > li:last-child > span,
.nav-week > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 41, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > li > a:hover, .nav-week > li > a:hover, .pagination > li > a:focus, .nav-week > li > a:focus,
.pagination > li > span:hover,
.nav-week > li > span:hover,
.pagination > li > span:focus,
.nav-week > li > span:focus {
  z-index: 3;
  color: #1abc9c;
  background-color: #eeeeee;
  border-color: #ddd;
}
/* line 52, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > .active > a, .nav-week > .active > a, .pagination > .active > a:hover, .nav-week > .active > a:hover, .pagination > .active > a:focus, .nav-week > .active > a:focus,
.pagination > .active > span,
.nav-week > .active > span,
.pagination > .active > span:hover,
.nav-week > .active > span:hover,
.pagination > .active > span:focus,
.nav-week > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  cursor: default;
}
/* line 64, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
.pagination > .disabled > span, .nav-week > .disabled > span,
.pagination > .disabled > span:hover,
.nav-week > .disabled > span:hover,
.pagination > .disabled > span:focus,
.nav-week > .disabled > span:focus,
.pagination > .disabled > a,
.nav-week > .disabled > a,
.pagination > .disabled > a:hover,
.nav-week > .disabled > a:hover,
.pagination > .disabled > a:focus,
.nav-week > .disabled > a:focus {
  color: #bdc3c7;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}


/* line 5, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination, .nav-week {
  position: relative;
}
@media (max-width: 767px) {
  /* line 5, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination, .nav-week {
    display: block;
  }
}
/* line 12, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul, .nav-week ul {
  background: #d6eaf8;
  color: white;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 6px;
}
@media (max-width: 767px) {
  /* line 12, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination ul, .nav-week ul {
    height: 41px;
    padding: 0 55px 0 52px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 6px;
  }
}
/* line 28, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li, .nav-week ul li {
  display: inline-block;
  margin-right: -3px;
  vertical-align: middle;
}
/* line 35, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li.active > a, .nav-week ul li.active > a, .pagination ul li.active > span, .nav-week ul li.active > span {
  background-color: #34495e;
  color: white;
}
/* line 41, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li.active.previous > a, .nav-week ul li.active.previous > a, .pagination ul li.active.previous > span, .nav-week ul li.active.previous > span, .pagination ul li.active.next > a, .nav-week ul li.active.next > a, .pagination ul li.active.next > span, .nav-week ul li.active.next > span {
  margin: 0;
}
/* line 44, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li.active.previous > a, .nav-week ul li.active.previous > a, .pagination ul li.active.previous > a:hover, .nav-week ul li.active.previous > a:hover, .pagination ul li.active.previous > a:focus, .nav-week ul li.active.previous > a:focus, .pagination ul li.active.previous > span, .nav-week ul li.active.previous > span, .pagination ul li.active.previous > span:hover, .nav-week ul li.active.previous > span:hover, .pagination ul li.active.previous > span:focus, .nav-week ul li.active.previous > span:focus, .pagination ul li.active.next > a, .nav-week ul li.active.next > a, .pagination ul li.active.next > a:hover, .nav-week ul li.active.next > a:hover, .pagination ul li.active.next > a:focus, .nav-week ul li.active.next > a:focus, .pagination ul li.active.next > span, .nav-week ul li.active.next > span, .pagination ul li.active.next > span:hover, .nav-week ul li.active.next > span:hover, .pagination ul li.active.next > span:focus, .nav-week ul li.active.next > span:focus {
  background-color: #34495e;
  color: white;
}
/* line 54, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li:first-child > a, .nav-week ul li:first-child > a,
.pagination ul li:first-child > span,
.nav-week ul li:first-child > span {
  border-radius: 6px 0 0 6px;
  border-left: none;
}
/* line 60, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li:first-child.previous + li > a, .nav-week ul li:first-child.previous + li > a,
.pagination ul li:first-child.previous + li > span,
.nav-week ul li:first-child.previous + li > span {
  border-left-width: 0;
}
/* line 66, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li:last-child, .nav-week ul li:last-child {
  margin-right: 0;
}
/* line 71, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li:last-child > a, .nav-week ul li:last-child > a, .pagination ul li:last-child > a:hover, .nav-week ul li:last-child > a:hover, .pagination ul li:last-child > a:focus, .nav-week ul li:last-child > a:focus,
.pagination ul li:last-child > span,
.nav-week ul li:last-child > span,
.pagination ul li:last-child > span:hover,
.nav-week ul li:last-child > span:hover,
.pagination ul li:last-child > span:focus,
.nav-week ul li:last-child > span:focus {
  border-radius: 0 6px 6px 0;
}
/* line 80, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li.previous > a, .nav-week ul li.previous > a,
.pagination ul li.previous > span,
.nav-week ul li.previous > span, .pagination ul li.next > a, .nav-week ul li.next > a,
.pagination ul li.next > span,
.nav-week ul li.next > span {
  border-right: 2px solid #e4f1fa;
  font-size: 16px;
  min-width: auto;
  padding: 12px 17px;
}
/* line 89, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li.next > a, .nav-week ul li.next > a,
.pagination ul li.next > span,
.nav-week ul li.next > span {
  border-right: none;
}
@media (max-width: 767px) {
  /* line 96, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination ul li.next, .nav-week ul li.next, .pagination ul li.previous, .nav-week ul li.previous {
    background-color: #d6eaf8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    border-radius: 0 6px 6px 0;
  }
  /* line 105, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination ul li.previous, .nav-week ul li.previous {
    left: 0;
    right: auto;
    border-radius: 6px 0 0 6px;
  }
}
/* line 113, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li > a, .nav-week ul li > a,
.pagination ul li > span,
.nav-week ul li > span {
  display: inline-block;
  background: transparent;
  border: none;
  border-left: 2px solid #e4f1fa;
  color: white;
  font-size: 14px;
  line-height: 16px;
  min-height: 41px;
  min-width: 41px;
  outline: none;
  padding: 12px 10px;
  text-align: center;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
/* line 129, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li > a:hover, .nav-week ul li > a:hover, .pagination ul li > a:focus, .nav-week ul li > a:focus,
.pagination ul li > span:hover,
.nav-week ul li > span:hover,
.pagination ul li > span:focus,
.nav-week ul li > span:focus {
  background-color: #34495e;
}
/* line 133, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination ul li > a:active, .nav-week ul li > a:active,
.pagination ul li > span:active,
.nav-week ul li > span:active {
  background-color: #34495e;
  color: white;
}
/* line 143, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination > .btn.previous, .nav-week > .btn.previous, .pagination > .btn.next, .nav-week > .btn.next {
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.429;
  padding-left: 23px;
  padding-right: 23px;
}
/* line 151, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination > .btn.previous [class*="fui-"], .nav-week > .btn.previous [class*="fui-"], .pagination > .btn.next [class*="fui-"], .nav-week > .btn.next [class*="fui-"] {
  font-size: 16px;
  margin-left: -2px;
  margin-top: -2px;
}
/* line 158, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination > .btn.next, .nav-week > .btn.next {
  margin-left: 8px;
  margin-right: 0;
}
/* line 162, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
.pagination > .btn.next [class*="fui-"], .nav-week > .btn.next [class*="fui-"] {
  margin-right: -2px;
  margin-left: 4px;
}
@media (max-width: 767px) {
  /* line 173, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn, .nav-week > .btn {
    display: block;
    margin: 0;
    width: 50%;
  }
  /* line 178, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child, .nav-week > .btn:first-child {
    border-bottom: 2px solid #deeef9;
    border-radius: 6px 0 0;
  }
  /* line 182, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-primary, .nav-week > .btn:first-child.btn-primary {
    border-bottom-color: #5d6d7e;
  }
  /* line 183, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-danger, .nav-week > .btn:first-child.btn-danger {
    border-bottom-color: #ec7063;
  }
  /* line 184, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-warning, .nav-week > .btn:first-child.btn-warning {
    border-bottom-color: #f4d03f;
  }
  /* line 185, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-success, .nav-week > .btn:first-child.btn-success {
    border-bottom-color: #58d68d;
  }
  /* line 186, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-info, .nav-week > .btn:first-child.btn-info {
    border-bottom-color: #5dade2;
  }
  /* line 187, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child.btn-inverse, .nav-week > .btn:first-child.btn-inverse {
    border-bottom-color: #5dade2;
  }
  /* line 188, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn:first-child > [class*="fui"], .nav-week > .btn:first-child > [class*="fui"] {
    margin-left: -20px;
  }
  /* line 190, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul, .nav-week > .btn + ul {
    padding: 0;
    text-align: center;
    border-radius: 0 0 6px 6px;
  }
  /* line 195, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn, .nav-week > .btn + ul + .btn {
    border-bottom: 2px solid #deeef9;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 6px 0 0;
  }
  /* line 202, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-primary, .nav-week > .btn + ul + .btn.btn-primary {
    border-bottom-color: #5d6d7e;
  }
  /* line 203, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-danger, .nav-week > .btn + ul + .btn.btn-danger {
    border-bottom-color: #ec7063;
  }
  /* line 204, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-warning, .nav-week > .btn + ul + .btn.btn-warning {
    border-bottom-color: #f4d03f;
  }
  /* line 205, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-success, .nav-week > .btn + ul + .btn.btn-success {
    border-bottom-color: #58d68d;
  }
  /* line 206, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-info, .nav-week > .btn + ul + .btn.btn-info {
    border-bottom-color: #5dade2;
  }
  /* line 207, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn.btn-inverse, .nav-week > .btn + ul + .btn.btn-inverse {
    border-bottom-color: #5dade2;
  }
  /* line 208, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination > .btn + ul + .btn > [class*="fui"], .nav-week > .btn + ul + .btn > [class*="fui"] {
    margin-right: -20px;
  }
  /* line 212, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination ul, .nav-week ul {
    display: block;
  }
  /* line 216, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination ul > li > a, .nav-week ul > li > a {
    border-radius: 0;
  }
  /* line 238, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination-minimal > ul > li:first-child, .nav-week > ul > li:first-child {
    border-radius: 6px 0 0 6px;
  }
  /* line 242, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination-minimal > ul > li:first-child.previous + li > a, .nav-week > ul > li:first-child.previous + li > a,
  .pagination-minimal > ul > li:first-child.previous + li > span,
  .nav-week > ul > li:first-child.previous + li > span {
    border-left-width: 5px;
  }
  /* line 248, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination-minimal > ul > li:last-child, .nav-week > ul > li:last-child {
    border-radius: 0 6px 6px 0;
  }
  /* line 253, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination-minimal > ul > li.previous > a, .nav-week > ul > li.previous > a,
  .pagination-minimal > ul > li.previous > span,
  .nav-week > ul > li.previous > span, .pagination-minimal > ul > li.next > a, .nav-week > ul > li.next > a,
  .pagination-minimal > ul > li.next > span,
  .nav-week > ul > li.next > span {
    background: transparent;
    border: none;
    border-right: 2px solid #e4f1fa;
    margin: 0 9px 0 0;
    padding: 12px 17px;
    border-radius: 6px 0 0 6px;
  }
  /* line 262, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
  .pagination-minimal > ul > li.previous > a, .nav-week > ul > li.previous > a, .pagination-minimal > ul > li.previous > a:hover, .nav-week > ul > li.previous > a:hover, .pagination-minimal > ul > li.previous > a:focus, .nav-week > ul > li.previous > a:focus,
  .pagination-minimal > ul > li.previous > span,
  .nav-week > ul > li.previous > span,
  .pagination-minimal > ul > li.previous > span:hover,
  .nav-week > ul > li.previous > span:hover,
  .pagination-minimal > ul > li.previous > span:focus,
  .nav-week > ul > li.previous > span:focus, .pagination-minimal > ul > li.next > a, .nav-week > ul > li.next > a, .pagination-minimal > ul > li.next > a:hover, .nav-week > ul > li.next > a:hover, .pagination-minimal > ul > li.next > a:focus, .nav-week > ul > li.next > a:focus,
  .pagination-minimal > ul > li.next > span,
  .nav-week > ul > li.next > span,
  .pagination-minimal > ul > li.next > span:hover,
  .nav-week > ul > li.next > span:hover,
  .pagination-minimal > ul > li.next > span:focus,
  .nav-week > ul > li.next > span:focus {
    border-color: #e4f1fa !important;
  }
}
  @media (max-width: 767px) {
    /* line 253, /Users/jamesmatsuba/lighthouse/compass/vendor/assets/stylesheets/flat-ui-pro/modules/_pagination.scss */
    .pagination-minimal > ul > li.previous > a, .nav-week > ul > li.previous > a,
    .pagination-minimal > ul > li.previous > span,
    .nav-week > ul > li.previous > span, .pagination-minimal > ul > li.next > a, .nav-week > ul > li.next > a,
    .pagination-minimal > ul > li.next > span,
    .nav-week > ul > li.next > span {
      margin-right: 0;
    }
  }
  /* line 10, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > li, .nav-week > li {
    display: inline;
  }
  /* line 12, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > li > a, .nav-week > li > a,
  .pagination > li > span,
  .nav-week > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.72222;
    text-decoration: none;
    color: #d6eaf8;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  /* line 25, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > li:first-child > a, .nav-week > li:first-child > a,
  .pagination > li:first-child > span,
  .nav-week > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  /* line 32, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > li:last-child > a, .nav-week > li:last-child > a,
  .pagination > li:last-child > span,
  .nav-week > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  /* line 41, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > li > a:hover, .nav-week > li > a:hover, .pagination > li > a:focus, .nav-week > li > a:focus,
  .pagination > li > span:hover,
  .nav-week > li > span:hover,
  .pagination > li > span:focus,
  .nav-week > li > span:focus {
    z-index: 3;
    color: #1abc9c;
    background-color: #eeeeee;
    border-color: #ddd;
  }
  /* line 52, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > .active > a, .nav-week > .active > a, .pagination > .active > a:hover, .nav-week > .active > a:hover, .pagination > .active > a:focus, .nav-week > .active > a:focus,
  .pagination > .active > span,
  .nav-week > .active > span,
  .pagination > .active > span:hover,
  .nav-week > .active > span:hover,
  .pagination > .active > span:focus,
  .nav-week > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
    cursor: default;
  }
  /* line 64, /Users/jamesmatsuba/.rvm/gems/ruby-2.4.3/gems/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/_pagination.scss */
  .pagination > .disabled > span, .nav-week > .disabled > span,
  .pagination > .disabled > span:hover,
  .nav-week > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .nav-week > .disabled > span:focus,
  .pagination > .disabled > a,
  .nav-week > .disabled > a,
  .pagination > .disabled > a:hover,
  .nav-week > .disabled > a:hover,
  .pagination > .disabled > a:focus,
  .nav-week > .disabled > a:focus {
    color: #bdc3c7;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
  }
