table.side-schedule {

  border-color: black;
  border-radius: 4px;
  margin-bottom: 0.4rem;

  tr {

    td {
      font-size: 0.92rem;
    }

    td.week {
      font-weight: bold;
      text-align: center;
      padding: 8px 3px;
      opacity: 0.8;
      font-weight: bold;
      width: 54px;
    }

    td.day {
      width: 34px;
      text-align: center;
      padding: 0px;
      opacity: 0.4;

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 8px 3px;
        color: black;
        &:hover {
          text-decoration: none;
        }
      }

      &.unlocked {
        opacity: 1;
      }

      &.locked {
        &:hover {
          background-color: pink;
        }
      }

      &.table-success {
        opacity: 1;
        font-weight: bold;
      }

      &:hover {
        background-color: #c3e6cb;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}