.student-page-top-row {
  height: 200px;
}

.student-bio {
  font-size: 15px;
}

.student-page-parent-container {
  margin-top: 25px;
}

.select-action-dropdown {
  width: 140px;
}

table.students {
  tr {
    opacity: 0.8;

    &:hover {
      opacity: 1.0;
    }

    .progress {
      margin-top: 8px;
      margin-bottom: 8px;
      border: 1px solid black;
    }

    span.tech-interview, span.code-review {
      margin-right: 5px;
      &.label-primary {
        opacity: 0.4;
      }
    }
  }
}

.student-info {
  img.avatar {
    width: 60px;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
    border: 2px solid $brand-secondary;
  }
  .email {
    font-size: 0.8em;
  }
}

