// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher-heading {
  text-align: center;
}

.avatar-holder {
  margin-top: 30px;
}

.dl-horizontal {
  dt {
    text-align: left;
  }

  dd {
    margin-bottom: 4px;
  }
}

table.teachers {

  ul.social-icons {
    margin: 5px 0px 5px 0px;
    position: relative;
    left: -2px;
    top: -2px;

    li {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

}


#teacher_feedback_button {
  margin-left: 52px;
  margin-top: 10px;
}

.teacher-contact-holder {
  width: 385px;
}

.updated-mentor-status-confirmation {
  display: none;
}