// Place all the styles related to the tech_interview_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tech-interview-template {

  border-radius: 6px;

  &:hover {
    box-shadow: 0 0 0 2px $brand-secondary;
    .name {
      color: $brand-primary;
    }
    .icon {
      opacity: 0.9;
    }
  }

  .info {
    background-color: $clouds;
    color: $brand-primary;
    font-size: 24px;
    line-height: 24px;
    padding: 0 60px 0 140px;
    position: relative;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .icon {
      opacity: 0.75;
      font-size: 36px;
      height: 100px;
      line-height: 100px;
      margin-top: -50px;
      padding: 0 20px;
      position: absolute;
      top: 50%;
    }

    .icon-type {
      left: 0;
    }
    .name {
      color: $brand-secondary;
      overflow: hidden;
      padding: 28px 0;
      .stretch {
        color: $gray-light;
      }
    }

    .time {
      color: $brand-secondary;
      font-size: 14px;
      left: 70px;
      line-height: 40px;
      padding: 20px 0;
      position: absolute;
      text-align: center;
      width: 50px;
    }
    .time-duration {
      font-size: 0.6em;
    }
    .status {
      position: absolute;
      right: 10px;
      top: 30%;
      .progress {
        width: 100px;
        margin-top: 10px;
        background-color: lighten($brand-secondary, 30%);
      }
      small {
        font-size: 48%;
      }
    }
  }

  .details { // only for pinned activities
    background-color: lighten($clouds, 3%);
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}


.panel-heading.panel-title.tech.score{
  .label {
    float: right;
  }
}


