.callout-question + .togglable-solution {
  position: relative;
  width: 100%;
  background-color: #f5f7f9;
  margin: 32px 0px;
  padding: 24px 24px 24px 60px;
  border-left: 4px solid #f8c200;
  top: -34px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 3px;
}
