.video-conference-container {
  padding: 1rem;
  padding-bottom: 0;
  .video-conference-actions{
    justify-content: center;
    button{
      margin-right: 1rem;
    }
  }
  .video-conference-info {
    position: relative;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    h3 {
      position: absolute;
      top: -1.2rem;
      left: 0;
      font-size: 1rem;
    }
    .teacher-info {
      font-size: 0.7rem;
      font-weight: 500;
      text-align: left;
      width: 300px;
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        margin-right: 1rem;
      }
    }
  }
}

.nav-item-video-conference {
  position: relative;
  .conference-count{
    position: absolute;
    top: 1px;
    left: 18px;
    opacity: 0.8;
    border-radius: 50%;
  }
}