
.video-conference-actions{
  margin-top: 1rem;
  h4{
    width: 100%;
    margin-bottom: -0.5rem;
  }
  form{
    .w-auto{
      width: auto;
    }
  }
  button, select{
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.video-conference-info {
  position: relative;
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  flex-direction: column;
  h3 {
    font-size: 1rem;
  }
  .conferences{
    display: flex;
    .teacher-info {
      font-size: 0.9rem;
      font-weight: 500;
      text-align: left;
      width: 400px;
    }
    .video-info{
      display: flex;
      flex-direction: column;
      width: 100%;
      .password{
        display: flex;
        padding-top: 0.51rem;
        font-size: 0.9rem;
      }
      .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          margin-right: 1rem;
        }
      }
    }
  }
}

.nav-item-video-conference {
  position: relative;
  .conference-count{
    position: absolute;
    top: 0px;
    left: 14px;
    opacity: 0.6;
  }
}