- provide :container, 'fluid'
- title "Admin Programming Tests"

header.page-header
  h1 Programming Tests

h2 = cohort.name

== react_component('ProgrammingTests.App', { programmingTests: programming_tests, students: active_students } )
