- provide :container, 'fluid'
- title "Admin Programming Tests"

header.page-header
  h1 Programming Tests

h2 = "#{@student.full_name} (#{cohort.name})"
  

== react_component('ProgrammingTests.SubmissionsApp', { programmingTests: programming_tests, enrollmentId: params[:enrollment_id] } )
