/ Empty String b/c we don't want to render the 'Mark Completed Button' on code eval
= link_to '', data: { toggle: 'modal', target: '#new-activity-submission-modal' }

- content_for :end_of_body
  = render 'activity_submission_with_feedback/modal'