= form.input :rating, collection: [['5 - Perfect', 5], ['4 - Great', 4], ['3 - Good', 3], ['2 - Problematic', 2], ['1 - Useless', 1]], allow_blank: true, label: 'Rate this activity overall (optional)'
= form.input :sentiment, collection: [['Negative', -1], ['Neutral', 0], ['Positive', 1]], label: 'Positive or negative feedback? (optional)', allow_blank: true
= form.input :detail, placeholder: 'The more you can give us the better!'
= form.submit 'Submit Feedback', class: 'btn btn-tiny btn-primary'

coffee: 
  $(document).ready ->
    resetFeedbackForm = ->
      $('#activity_feedback_detail').val('')
      $('#activity_feedback_sentiment').val('')
      $('#activity_feedback_rating').val('')


    $('#new_activity_feedback').on('ajax:success', (e, data, status, error) ->
      $('#activity-feedback .list').prepend(data)
      $('.empty-message').hide()
      resetFeedbackForm()
    ).on 'ajax:error', (e, xhr, status, error) ->
      alert(xhr.responseText)