= form.label 'Rate this activity overall (optional)'
.raty-editor name="feedback[rating]" data-score=form.object.rating value=""
  = form.hidden_field :rating
= form.input :detail, placeholder: 'The more you can give us the better!'
= form.submit 'Submit Feedback', class: 'btn btn-tiny btn-primary'
